Hello <%= name %>,

You have been invited to join wonderful website by <%= inviter.name %>.

Please copy and paste this link into a web browser to accept this invitation

<%= host %>/authorize/invite/accept/<%= token %>

and get started.

Best regards
<%= who %>
