Hello <%= name %>,

Thank you for registering with us.

Please copy and paste this link into a web browser to confirm your email address.

<%= host %>/authorize/confirm/<%= token %>

Best regards
<%= who %>
